
body { 
    margin: 0px; 
    font-family: Helvetica, Arial, sans-serif;

}




.header {
    text-align: center;  
    height:30px; 
    padding-bottom: 10px;
    /*margin-bottom: 1px;*/
    background-color: #6f2c3f;
    width: 100vw;
    color: #f7f7f7;
}

h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


.dokumentasjon {
    background-color: #b07c83;
    width: 100vw;
    height: auto;
}





.linker_dok>a{
    text-decoration: none;
    color:#3f3844; 
    width: 100vw;
}


.linker_dok>a:hover {
    
    color: #f7f7f7;
}

.medlemmer {
    width: 100vw;
    background-color: rgba(207, 195, 195, 0.247); 
    height: auto;
}

.innhold{
    padding: 5em;
    padding-left: 10em;
    padding-right: 10em;
    
}

.footer{
    margin: 0px;
    position: fixed; bottom: 0px;
    width: 100vw;
    display: inline-flex;
    white-space: nowrap;
    font-size: 1.2em;
    background-color: #6f2c3f;
}

.footer>p {
    color: #f7f7f7;
    padding: 1rm;
}




