
body { 
    margin: 0px; 
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(207, 195, 195, 0.247);
}

img{
    width: 140px;
    height: 140px;
}


.header {  
    background-color: #6f2c3f;
    width: 100vw;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
}

h1{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}


.dokumentasjon {
    width: 100vw;
    height: auto;
}





.linker_dok>a{
    text-decoration: none;
    color:black; 
    background-color: #b07c83;
    width: 100vw;
    padding: 1em;
    border: 5px; 
    border-color: #b07c83;
    border-radius: 10px;
    
}


.linker_dok>a:hover {
    
    color: #f7f7f7;
    background-color: rgba(207, 195, 195, 0.247);
}

.medlemmer {
    width: 100vw;
    height: auto;
}

.innhold{
    padding: 5em;
    padding-left: 10em;
    padding-right: 10em;
    
}






